[defaults]
inventory = inventory.txt
remote_user = root
ask_pass = false
action_warnings = false
deprecation_warnings = false
interpreter_python = auto_silent

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false
#become_ask_pass = true
