#
# Shorewall version 4 - Rules File
#
# For information on the settings in this file, type "man shorewall-rules"
#
# The manpage is also online at
# http://www.shorewall.net/manpages/shorewall-rules.html
#
######################################################################################################################################################################################################
#ACTION   SOURCE    DEST    PROTO DEST  SOURCE    ORIGINAL  RATE    USER/ MARK  CONNLIMIT TIME    HEADERS   SWITCH    HELPER
#             PORT(S) PORT(S)   DEST    LIMIT   GROUP
# ?SECTION ALL
# ?SECTION ESTABLISHED
# ?SECTION RELATED
# ?SECTION INVALID
# ?SECTION UNTRACKED
# ?SECTION NEW

# -- Allow ping from network to master
ACCEPT	        net	        fw	        icmp	8

# -- Allow SSH to master from outside
ACCEPT:info   net            fw              tcp     22

# -- Allow cluster management traffic from outside
#ACCEPT   net            fw              tcp     8081
ACCEPT   net:10.141.0.0/16            fw              tcp     8081

# -- Allow NFS traffic from outside to the master
#ACCEPT   net            fw              tcp     111   # portmapper
#ACCEPT   net            fw              udp     111
#ACCEPT   net            fw              tcp     2049  # nfsd
#ACCEPT   net            fw              udp     2049
#ACCEPT   net            fw              tcp     4000  # statd
#ACCEPT   net            fw              udp     4000
#ACCEPT   net            fw              tcp     4001  # lockd
#ACCEPT   net            fw              udp     4001
#ACCEPT   net            fw              udp     4005
#ACCEPT   net            fw              tcp     4002  # mountd
#ACCEPT   net            fw              udp     4002
#ACCEPT   net            fw              tcp     4003  # rquotad
#ACCEPT   net            fw              udp     4003

# -- Serve DNS from master to outside world
#ACCEPT   net            fw              tcp     53
#ACCEPT   net            fw              udp     53

# -- Serve Web
ACCEPT   net            fw              tcp     80
#ACCEPT   net            fw              tcp     20080
ACCEPT   net            fw              tcp     443
ACCEPT   net            fw              tcp     20443

# -- HAProxy Ingress
ACCEPT   net            fw              tcp     30080
ACCEPT   net            fw              tcp     30443

# This section of this file was automatically generated by cmd. Do not edit manually!
# BEGIN AUTOGENERATED SECTION -- DO NOT REMOVE
REJECT   fw         net:169.254.169.254              tcp     80     -         -         -       !root # Disallow metadata access for regular users for security reasons
# END AUTOGENERATED SECTION   -- DO NOT REMOVE

#
#LAST LINE -- ADD YOUR ENTRIES BEFORE THIS ONE -- DO NOT REMOVE
